
doctype html
html(lang="en")
	head
		include _head.jade
	body
		include index/en-index.html
		main
			include index/seccion1_lucas_.html
			include index/en-contenido.html 
		include footer/en-footer.html

	