
doctype html
html(lang="en")
head
	include _head.jade
body
	include index/index.html
<<<<<<< HEAD
	include index/seccion1_lucas_.html
=======
	include index/seccion_juan.html

>>>>>>> 695232fa177236681caac4e30ec5f7b1dc66d0c0
footer
	include footer/footer.html