- var page = "Inicio"
doctype html
html(lang="en")
	head
		include _head.jade
	body
		include index/index.html
		main
			include index/carrusel.html
			include index/barravideo.html
			include index/barraSponsor.html
			include index/galeriaMansory.html
			include index/seccion-materialize.html
		include footer/footer.html

	