- var page = "Inicio"
doctype html
html(lang="en")
	head
		include _head.jade
	body
		include index/index.html
		main

			include index/seccion1_lucas_.html
			include index/seccion_juan.html
			include index/contenido.html

			include index/carrusel.html
			include index/barravideo.html
			include index/barraSponsor.html
			include index/galeriaMansory.html
			include guille/captionimage.html

		include footer/footer.html

	