 <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="res/img/verano1.jpg" width='150' height='200' title="La Delicia del Boulevard"></a>
    <a class="carousel-item" href="#two!"><img src="res/img/verano2.jpg" width='150' height='200' title="La Delicia del Boulevard"></a>
    <a class="carousel-item" href="#three!"><img src="res/img/verano3.jpg" width='150' height='200' title="La Delicia del Boulevard"></a>
    <a class="carousel-item" href="#four!"><img src="res/img/verano4.jpg" width='150' height='200' title="La Delicia del Boulevard"></a>
    <a class="carousel-item" href="#five!"><img src="res/img/verano5.jpg" width='150' height='200' title="La Delicia del Boulevard"></a>
  </div>